<div class="container">
  <div class="row">
    <div class="digg_pagination">
      <%= will_paginate @links, :container => false %>
    </div>
  </div>

  <%=require 'open-uri'
  @top_headlines
url = 'http://newsapi.org/v2/top-headlines?'\
      'country=ie&'\
      'apiKey=c0609dca0c634fcc91e201434ce569e1'
req = open(url)
response_body = req.read
puts response_body%>

<%if current_user%>
    <form class="form-inline my-2 my-lg-0" action="/search">
      <input class="form-control mr-sm-2" name="q" id="searchQuery" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <%end%>
    <br>

  <% @links.each do |link| %>
    <div class="row">
      <div class="card mb-3">
        
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to link.title, link %>
          </h5>
          <p class="card-text">
            <%= link.body.to_plain_text.truncate_words(50) %>
          </p>
          <p class="card-text">
            <small class="text-muted">
              <%= link.updated_at.strftime("%A, %B %e, %Y") %> by
              <%= link.user.username %> | <%= pluralize(link.views, "View") %> | 0 comments
            </small>
          </p>
          <td><%= link_to 'Edit', edit_link_path(link) %></td>
          <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div>
  <%= render 'articles'%>
  <footer id="news-api" class="text-center footer">
      <p>Powered by <a href="https://newsapi.org/">News Api</a></p>
    </footer>
