<div class="container">
  <div class="row">
    <div class="digg_pagination">
      <%= will_paginate @links, :container => false %>
    </div>
  </div>
<h1>Welcome to our user blog page, here you can make your own posts and discuss on current news</h1>
<h2><strong>Refine your search:</strong></h2><br>
<%= form_for "",url: links_path, role: "search", method: :get do %>
<%= text_field_tag :search, @search_term, placeholder: "Search..."%><br></n>
<%end%>
<br>
<br>

  <% @links.each do |link| %>
    <div class="row">
      <div class="card mb-3">
        
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to link.title, link %>
          </h5>
          <p class="card-text">
            <%= link.body.to_plain_text.truncate_words(50) %>
          </p>
          <p class="card-text">
            <small class="text-muted">
              <%= link.updated_at.strftime("%A, %B %e, %Y") %> by
              <%= link.user.username %> | <%= pluralize(link.views, "View") %>  
            </small>
          </p>
          <td><%= link_to 'Edit', edit_link_path(link) %></td>
          <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div>
  <br>
  <%= render 'articles' %>
  <footer id="news-api" class="text-center footer">
      <p>Powered by <a href="https://newsapi.org/">News Api</a></p>
    </footer> 
</div>